<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/pure/pure-min.css"/>
    <link rel="stylesheet" href="/assets/style.css"/>
    <title>Random Quote Microservice</title>
  </head>
  <body>
    <header>
      <h1>Random Quote Microservice</h1>

      <h3>There is currently <code><%= maxIndex + 1 %></code> quotes stored in this api.</h3>

      <p>To access the quotes simply pass one of the fallowing in to the end of the url:</p>
      <ul>
        <li><code>/rand</code> to give a random quote.</li>
        <li><code>/all</code> to generate all the stored quotes.</li>
        <li>a number <code>/0</code> trough <code>/<%= maxIndex %></code> to generate a specific quote.</li>
        <li><code>/maxIndex</code> to get the last index number.</li>
      </ul>

      <div class='examples'>
        <h2>Example API links:</h2>
        <p><a href="/rand"><%= url %>/rand</a></p>
        <br/>
        <p><a href="/all"><%= url %>/all</a></p>
        <br/>
        <p><a href="/<%= rand %>" > <%= url %>/<%= rand %></a></p>
        <br/>
        <p><a href="/maxIndex"><%= url %>/maxIndex</a></p>
      </div>

      <h2>Example Output For /rand:</h2>
        <code>
          {
            <br/>"author": "<%= author %>" ,
            <br/>"quote": "<%= quote %>"
          <br/>}
      </code>
    </header>
  </body>
</html>
